In [11]:
import pandas as pd
df=pd.read_csv("pokemon.csv")
print(df)

       #                   Name    Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur     Grass  Poison    318  45      49       49
1      2                Ivysaur     Grass  Poison    405  60      62       63
2      3               Venusaur     Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur     Grass  Poison    625  80     100      123
4      4             Charmander      Fire     NaN    309  39      52       43
..   ...                    ...       ...     ...    ...  ..     ...      ...
104   96                Drowzee   Psychic     NaN    328  60      48       45
105   97                  Hypno   Psychic     NaN    483  85      73       70
106   98                 Krabby     Water     NaN    325  30     105       90
107   99                Kingler     Water     NaN    475  55     130      115
108  100                Voltorb  Electric     NaN    330  40      30       50

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
104       43       90     42           1      False
105       73      115     67           1      False
106       25       25     50           1      False
107       50       50     75           1      False
108       55       55    100           1      False

[109 rows x 13 columns]

In [12]:
#SELECTION BY COLUMN
# print(df["Name"])
# print(df["Type 1"])

print(df[["Name","Type 1","Type 2","Legendary"]])

                      Name    Type 1  Type 2  Legendary
0                Bulbasaur     Grass  Poison      False
1                  Ivysaur     Grass  Poison      False
2                 Venusaur     Grass  Poison      False
3    VenusaurMega Venusaur     Grass  Poison      False
4               Charmander      Fire     NaN      False
..                     ...       ...     ...        ...
104                Drowzee   Psychic     NaN      False
105                  Hypno   Psychic     NaN      False
106                 Krabby     Water     NaN      False
107                Kingler     Water     NaN      False
108                Voltorb  Electric     NaN      False

[109 rows x 4 columns]

In [13]:
#selection by rows
#selection using the loc property
print(df.loc[0])
print("\n")
print(df.loc[10])

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
Total               318
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object


#                     8
Name          Wartortle
Type 1            Water
Type 2              NaN
Total               405
HP                   59
Attack               63
Defense              80
Sp. Atk              65
Sp. Def              80
Speed                58
Generation            1
Legendary         False
Name: 10, dtype: object

In [14]:
#since it is difficult to remember the pokemon through its index
#we can set the name column to be as index and then access information through name

df=pd.read_csv("pokemon.csv", index_col="Name")
print(df.loc["Pikachu"])

#                   25
Type 1        Electric
Type 2             NaN
Total              320
HP                  35
Attack              55
Defense             40
Sp. Atk             50
Sp. Def             50
Speed               90
Generation           1
Legendary        False
Name: Pikachu, dtype: object

In [15]:
#we can also select the specific column range we need to be printed 
#like i want column from "type 1 " to "defense " to be printed for pikachu

print(df.loc["Pikachu","Type 1":"Defense"])

Type 1     Electric
Type 2          NaN
Total           320
HP               35
Attack           55
Defense          40
Name: Pikachu, dtype: object

In [16]:
#we can also select specfic columns to be printed of the required pokemon 
print(df.loc["Pikachu",["Type 1","Type 2"]])

Type 1    Electric
Type 2         NaN
Name: Pikachu, dtype: object

In [17]:
#we can print information for specified rows and columns
print(df.loc[["Pikachu","Charizard"],["Type 1","Type 2"]])

             Type 1  Type 2
Name
Pikachu    Electric     NaN
Charizard      Fire  Flying

In [19]:
#we can print information for range of rows and columns at the same time 
print(df.loc["Bulbasaur":"Charmander","Type 1":"Defense"])

                      Type 1  Type 2  Total  HP  Attack  Defense
Name
Bulbasaur              Grass  Poison    318  45      49       49
Ivysaur                Grass  Poison    405  60      62       63
Venusaur               Grass  Poison    525  80      82       83
VenusaurMega Venusaur  Grass  Poison    625  80     100      123
Charmander              Fire     NaN    309  39      52       43

In [20]:
#the same functions can be done through the "iloc" property as well
print(df.iloc[0])

#                  1
Type 1         Grass
Type 2        Poison
Total            318
HP                45
Attack            49
Defense           49
Sp. Atk           65
Sp. Def           65
Speed             45
Generation         1
Legendary      False
Name: Bulbasaur, dtype: object

In [23]:
print(df.iloc[0,3])
#will print first row and 3rd column data

318

In [24]:
print(df.iloc[[0,1,2,3],[1,2,3,4]])

                      Type 1  Type 2  Total  HP
Name
Bulbasaur              Grass  Poison    318  45
Ivysaur                Grass  Poison    405  60
Venusaur               Grass  Poison    525  80
VenusaurMega Venusaur  Grass  Poison    625  80

In [26]:
print(df.iloc[0:4,1:5])

                      Type 1  Type 2  Total  HP
Name
Bulbasaur              Grass  Poison    318  45
Ivysaur                Grass  Poison    405  60
Venusaur               Grass  Poison    525  80
VenusaurMega Venusaur  Grass  Poison    625  80

In [28]:
#also if you want every second row in the range , you can do that as well
print(df.iloc[0:20:2,0:5])

                            # Type 1  Type 2  Total  HP
Name
Bulbasaur                   1  Grass  Poison    318  45
Venusaur                    3  Grass  Poison    525  80
Charmander                  4   Fire     NaN    309  39
Charizard                   6   Fire  Flying    534  78
CharizardMega Charizard Y   6   Fire  Flying    634  78
Wartortle                   8  Water     NaN    405  59
BlastoiseMega Blastoise     9  Water     NaN    630  79
Metapod                    11    Bug     NaN    205  50
Weedle                     13    Bug  Poison    195  40
Beedrill                   15    Bug  Poison    395  65

In [43]:
#exercise :user will enter a pokemon name , we have to return all the information about 
#pokemon 
df=pd.read_csv("pokemon.csv",index_col="Name")
pokemon=input("enter the pokemon name")

try:
    print(df.loc[pokemon])
except:
    print(f"{pokemon} not found in the database")

#                 150
Type 1        Psychic
Type 2            NaN
Total             680
HP                106
Attack            110
Defense            90
Sp. Atk           154
Sp. Def            90
Speed             130
Generation          1
Legendary        True
Name: Mewtwo, dtype: object