In [21]:
import pandas as pd
df=pd.read_csv("pokemon.csv")
print(df.iloc[:,:])

       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]

In [ ]:
#aggregation: summarizes the data ,
            # often used with groupby() function

In [ ]:
#aggregation functions for the whole dataframe

#1. mean function
#numeric_only=True, allows aggregate functions to be applied to columns with numeric value
print(df.mean(numeric_only=True))

#             362.81375
Total         435.10250
HP             69.25875
Attack         79.00125
Defense        73.84250
Sp. Atk        72.82000
Sp. Def        71.90250
Speed          68.27750
Generation      3.32375
Legendary       0.08125
dtype: float64

In [7]:
#2. sum function
print(df.sum(numeric_only=True))

#             290251
Total         348082
HP             55407
Attack         63201
Defense        59074
Sp. Atk        58256
Sp. Def        57522
Speed          54622
Generation      2659
Legendary         65
dtype: int64

In [8]:
#3. min function
print(df.min(numeric_only=True))

#                 1
Total           180
HP                1
Attack            5
Defense           5
Sp. Atk          10
Sp. Def          20
Speed             5
Generation        1
Legendary     False
dtype: object

In [9]:
#4. max function
print(df.max(numeric_only=True))

#              721
Total          780
HP             255
Attack         190
Defense        230
Sp. Atk        194
Sp. Def        230
Speed          180
Generation       6
Legendary     True
dtype: object

In [ ]:
#5. count function:gives the count of elements in the column, doesnt consider NaN in the count
print(df.count())
#count can be applied to non numeric values as well, so no need to apply it for 
#numeric values only

#not all pokemons have a type 2, so type 2 is not 800

#             800
Name          800
Type 1        800
Type 2        414
Total         800
HP            800
Attack        800
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
dtype: int64

In [13]:
#aggregate functions for a single column
#1. mean 
print(df["Speed"].mean())

68.2775

In [12]:
#2. sum
print(df["Sp. Atk"].sum())

58256

In [16]:
#3. min
print(df["Sp. Def"].min())
print(df["Defense"].min())

20
5

In [17]:
#4. max
print(df["Sp. Atk"].max())
print(df["Attack"].max())

194
190

In [18]:
#5. count
print(df["Type 2"].count())

414

In [36]:
#using aggregate functions with group by 
#for eg here we can create different groups of the pokemon based on their type
group=df.groupby("Type 1") 

print(group["Attack"].mean().reset_index(name="mean_attack"))

      Type 1  mean_attack
0        Bug    70.971014
1       Dark    88.387097
2     Dragon   112.125000
3   Electric    69.090909
4      Fairy    61.529412
5   Fighting    96.777778
6       Fire    84.769231
7     Flying    78.750000
8      Ghost    73.781250
9      Grass    73.214286
10    Ground    95.750000
11       Ice    72.750000
12    Normal    73.469388
13    Poison    74.678571
14   Psychic    71.456140
15      Rock    92.863636
16     Steel    92.703704
17     Water    74.151786

In [37]:
print(group["Attack"].max().reset_index(name="max_attack"))
#this will tell the maximum attack that each type has 
#eg. in bug type pokemon, the maximum attack is 185
#for Fire type, the maximum attack is 160

      Type 1  max_attack
0        Bug         185
1       Dark         150
2     Dragon         180
3   Electric         123
4      Fairy         131
5   Fighting         145
6       Fire         160
7     Flying         115
8      Ghost         165
9      Grass         132
10    Ground         180
11       Ice         130
12    Normal         160
13    Poison         106
14   Psychic         190
15      Rock         165
16     Steel         150
17     Water         155

In [38]:
print(group["Attack"].min().reset_index(name="minimum_attack"))
#here it shows minimum attack of each type

      Type 1  minimum_attack
0        Bug              10
1       Dark              50
2     Dragon              50
3   Electric              30
4      Fairy              20
5   Fighting              35
6       Fire              30
7     Flying              30
8      Ghost              30
9      Grass              27
10    Ground              40
11       Ice              30
12    Normal               5
13    Poison              43
14   Psychic              20
15      Rock              40
16     Steel              24
17     Water              10

In [33]:
print(group["Attack"].count())

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Attack, dtype: int64

In [ ]:
#printing the name of the pokemon which has the highest attack in the group
grouped = df.groupby("Type 1")

max_attack_for_each_type = grouped["Attack"].idxmax()
# This returns the ROW INDEX of the Pok√©mon with the highest Attack inside each Type 1 group

display = df.loc[max_attack_for_each_type, ["Name", "Type 1", "Attack"]]
# Using those row indexes, we fetch the actual rows and only show specific columns

print(display)

                        Name    Type 1  Attack
232  HeracrossMega Heracross       Bug     185
393          AbsolMega Absol      Dark     150
426    RayquazaMega Rayquaza    Dragon     180
517               Electivire  Electric     123
792                  Xerneas     Fairy     131
498      LucarioMega Lucario  Fighting     145
279    BlazikenMega Blaziken      Fire     160
702  TornadusIncarnate Forme    Flying     115
387      BanetteMega Banette     Ghost     165
511  AbomasnowMega Abomasnow     Grass     132
424    GroudonPrimal Groudon    Ground     180
524                Mamoswine       Ice     130
313                  Slaking    Normal     160
504                Toxicroak    Poison     106
163      MewtwoMega Mewtwo X   Psychic     190
454                Rampardos      Rock     165
750     AegislashBlade Forme     Steel     150
141    GyaradosMega Gyarados     Water     155

In [ ]:
#finding the name of the pokemon with the minimum attack from each type 1
group_type=df.groupby("Type 1")

idx_of_min_attack=group_type["Attack"].idxmin()

display=df.loc[idx_of_min_attack,["Name", "Type 1", "Attack"]]

print(display)

                   Name    Type 1  Attack
230             Shuckle       Bug      10
568            Purrloin      Dark      50
774               Goomy    Dragon      50
108             Voltorb  Electric      30
189              Togepi     Fairy      20
255             Tyrogue  Fighting      35
616  DarmanitanZen Mode      Fire      30
790              Noibat    Flying      30
623              Yamask     Ghost      30
606            Cottonee     Grass      27
375              Baltoy    Ground      40
257            Smoochum       Ice      30
121             Chansey    Normal       5
345              Gulpin    Poison      43
68                 Abra   Psychic      20
149             Omanyte      Rock      40
484             Bronzor     Steel      24
139            Magikarp     Water      10

????